* {
  margin: 0;
}
.container {
  background-color: rgb(29, 45, 134);
  width: auto;
  height: 100vh;
  padding: 10rem;
  font-family: "Roboto", sans-serif;
}

.login {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  text-align: center;
  padding-top: 6em;
  border-radius: 15px;
  box-shadow: 0 0 5px white;
  /* border: 3px solid silver; */
}

.input {
  margin: 8px;
  padding: 10px;
  background: none;
  border: 2px solid black;
  border-radius: 5px;
}
input:hover,
button:hover {
  border: 2px solid rgb(29, 45, 134);
}
#logintext {
  margin-top: -50px;
}
p {
  padding-top: 10px;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}
.links {
  display: flex;
  padding-top: 10px;
  padding-bottom: -10px;
  height: 4rem;
  background-repeat: no-repeat;
  justify-content: space-evenly;
}
